@model List<Comic>

<form method="post">
    <label class="form-label">Nombre: </label>
    <input type="text" class="form-control" name="NOMBRE" />
    <label class="form-label">Imagen: </label>
    <input type="text" class="form-control" name="IMAGEN" />
    <label class="form-label">Descripción: </label>
    <input type="text" class="form-control" name="DESCRIPCION" />
    <button type="submit" class="btn btn-outline-success">Crear Comic</button>
</form>